<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">

	<bean class="com.springcore.springdemo.Student" name="stud">
		<property name="name" value="sherly"></property>
		<property name="age" value="5"></property>
		<property name="mother" value="auly"></property>
		<property name="address" ref="add"></property>
	</bean>

	<bean class="com.springcore.springdemo.Address" name="add">
		<property name="street" value="Shivaji Nagar"></property>
		<property name="city" value="Dungarpur"></property>
	</bean>

</beans>